/.idea/.gitignore
*_Sol.py
/.idea
/Lecture_07/Lecture Code/Torch_text.txt
/Old/NLTK/Text_Mining/document.txt
/Old/NLTK/Text_Mining/Text_mining_1.py
/Old/NLTK/Text_Mining/Text_mining_2.py
/Old/NLTK/Text_Mining/Text_mining_3.py
/Old/NLTK/Text_Mining/Text_mining_4.py
/Old/NLTK/Text_Mining/Text_mining_5.py
/Old/NLTK/Text_Mining/Text_mining_6.py
/Old/NLTK/Text_Mining/Text_mining_7.py
/Old/NLTK/Text_Mining/Text_mining_8.py
/Old/NLTK/Text_Mining/Text_mining_9.py
/Old/NLTK/Text_Mining/Text_mining_10.py
/Old/NLTK/Text_Mining/Text_mining_11.py
/Old/NLTK/Text_Mining/Text_mining_12.py
/Old/NLTK/Text_Mining/Text_mining_Ex1.py
/Old/NLTK/Text_Mining/Text_mining_Ex2.py
/Old/Template/Class Ex/Class-Ex-Lecture2.py
/Old/Word_Embeding/Doc_to_Vec/Doc_to_vec.py
/Old/Word_Embeding/Word_to_Vec/word_to_vec.py
/Lecture_01/Class Ex/test_2.txt
/Lecture_01/Class Ex/b.txt
